<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>
<p>
    <a href="/login">login</a>
    <a href="/account">account</a>
    <a href="/logout">logout</a>
</p>
